<% if current_user %>
  <h1>Welcome, <%= current_user.name %>. You are User #<%= current_user.id %>.</h1>
  <form action="/logout" method="post">
  <input type="submit" value="Logout">
  </form>

<br><br>
Create a Post:
<div class="create-post">
<form action='/new-post' method='post'>

  <input type='textarea' name='title' placeholder="Post Title" required></input>
  <br>
  <input type='textarea' name='description' placeholder="Post Description" required></input>
  <br>
  <input type='textarea' name='tags' placeholder="Tags (separate w/ commas)" required></input>
  <br>
  <br>
  <input type='submit'></input>

</form>
</div>


<% end %>

 <br> <br>
<% unless current_user %>
<div class='user-credentials'>
  <div class ='login'>
    <form action="/login" method="post">
        <h2>Login</h2>
        <br>
        <input type="text" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Password"><br>

        <input class="send" type="submit" value="Send">
    </form>
  </div>

    <br> <br>
  <div class='create-user'>
      <form action="/creation_success" method="post">
        <h2>Create User</h2>
        <br>
        <input type="text" name="name" placeholder="Name"><br>
        <input type="text" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Password"><br>

        <input class="send" type="submit" value="Send">
    </form>
  </div>
</div>

    <% if @duplicate_user %>
    <%= "Your account already exists. Please login." %>
    <% end %>
<% end %>

<br>

<div class="all-posts items">

<% @posts.each do |post| %>
<div class="post item">
      <p>Title: <%= post.title %></p>
      <p>Body: <%= post.body %></p>
      <p>Tags: <% post.tags.each do |tag| %>
                 <%= tag.name %>,
               <% end %> </p>

      <% if post.authenticated_user_id == session[:user_id] %>
        <form action='/edit-post' method='post'>
          <input name="id" value="<%= post.id %>" type='hidden'></input>
          <input value="Edit Post" type='submit'></input>
        </form>


        <form action='/delete-post' method='post'>
          <input name="id" value="<%= post.id %>" type='hidden'></input>
          <input value="Delete Post" type='submit'></input>
        </form>         
</div>
<% end %>
<br>
<% end %>
<div class="digg_pagination">
<%= will_paginate @posts %>
</div>

</div>

<br>

<div class="all-tags items">
  <h2 id="tags-title ">Tags</h2>
<% Tag.all.each do |tag|%>
<div class="tag item">
<p>Tag:<%= tag.name %></p>
<p>Posts:<% tag.posts.each do |post| %>
         <%= post.title %>,
         <% end %> </p>
<% if tag.authenticated_user_id == session[:user_id] %>
<form action='/delete-tag' method='post'>
  <input name="id" value="<%= tag.id %>" type='hidden'></input>
  <input value="Delete Tag" type='submit'></input>
</form>  
<% end %>       
</div>
</div>
<br>   
<% end %>
</div>


